*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
}

h1{
    animation-duration: 4s;
    animation-name: slidetop; 
}

@keyframes slidetop{
    from{
        margin-top: 30%;
        width: 50%;
    }

    to{
        margin-top: 20%;
        width: 100%;
    }
}

p{
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
        color: crimson;
    }

    to{
        margin-left: 0%;
        width: 100%;
        color: brown;
    }
}

.container img{
    height: 250px;
    animation-duration: 5s;
    animation-name: slideright;
    margin-left: 35%;
    }

@keyframes slideright{
    from{
         margin-right: 100%;
        width: 30%;
        height: 200px;
        }
    
    to{
        margin-right: 0%;
        width: 50%;
        height: auto;
        height: 500px;
            
        }  
 }